<html>
<head>
<title>sendtouser.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #ffffff;}
.s2 { color: #54b33e;}
.s3 { color: #ebebeb;}
</style>
</head>
<body bgcolor="#131314">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
sendtouser.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;RelativeLayout</span>
    <span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/text&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:gravity</span><span class="s2">=&quot;center_horizontal|center_vertical&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#3F51B5&quot;</span>
        <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;18sp&quot;</span>
        <span class="s1">android:layout_marginVertical</span><span class="s2">=&quot;10dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Select a user to transfer money&quot;</span><span class="s0">&gt;&lt;/TextView&gt;</span>

    <span class="s0">&lt;androidx.recyclerview.widget.RecyclerView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/recyclerview&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_below</span><span class="s2">=&quot;@id/text&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@android:color/holo_orange_light&quot;</span>
        <span class="s1">android:padding</span><span class="s2">=&quot;10dp&quot;</span>
        <span class="s1">android:scrollbars</span><span class="s2">=&quot;vertical&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;ImageView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/tick&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;271dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;208dp&quot;</span>
        <span class="s1">android:layout_alignParentStart</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentLeft</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentEnd</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentRight</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentBottom</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;80dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;80dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;61dp&quot;</span>
        <span class="s1">android:layout_marginRight</span><span class="s2">=&quot;61dp&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;267dp&quot;</span>
        <span class="s1">android:visibility</span><span class="s2">=&quot;invisible&quot;</span>
        <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/tick&quot; </span><span class="s0">/&gt;</span>

<span class="s0">&lt;/RelativeLayout&gt;</span></pre>
</body>
</html>