<html>
<head>
<title>trnsfr_historylist.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #ffffff;}
.s2 { color: #54b33e;}
.s3 { color: #ebebeb;}
</style>
</head>
<body bgcolor="#131314">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
trnsfr_historylist.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;androidx.cardview.widget.CardView</span>
    <span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
    <span class="s1">app:cardCornerRadius</span><span class="s2">=&quot;8dp&quot;</span>
    <span class="s1">app:cardElevation</span><span class="s2">=&quot;8dp&quot;</span>
    <span class="s1">android:background</span><span class="s2">=&quot;@android:color/black&quot;</span>
    <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;10dp&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;RelativeLayout</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:padding</span><span class="s2">=&quot;5dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@drawable/list_gradient&quot;</span>
        <span class="s1">android:layout_margin</span><span class="s2">=&quot;8dp&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;LinearLayout</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/Username&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_alignParentTop</span><span class="s2">=&quot;true&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;10dp&quot;</span><span class="s0">&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/name1&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;name1&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;15sp&quot;</span>
                <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#8BC34A&quot;</span><span class="s0">&gt;&lt;/TextView&gt;</span>

            <span class="s0">&lt;ImageView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/arrow&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:src</span><span class="s2">=&quot;@drawable/arrow&quot;</span>
                <span class="s1">android:layout_marginHorizontal</span><span class="s2">=&quot;5dp&quot;</span>
                <span class="s1">android:layout_gravity</span><span class="s2">=&quot;center_vertical|center_horizontal&quot;</span><span class="s0">&gt;&lt;/ImageView&gt;</span>
            <span class="s0">&lt;TextView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/name2&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;name2&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;15sp&quot;</span>
                <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#8BC34A&quot;</span><span class="s0">&gt;&lt;/TextView&gt;</span>
        <span class="s0">&lt;/LinearLayout&gt;</span>

        <span class="s0">&lt;LinearLayout</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_below</span><span class="s2">=&quot;@id/Username&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;10dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;5dp&quot;</span><span class="s0">&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/date&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;date&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;15dp&quot;</span><span class="s0">&gt;&lt;/TextView&gt;</span>
        <span class="s0">&lt;/LinearLayout&gt;</span>

        <span class="s0">&lt;LinearLayout</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/Amount&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_alignParentRight</span><span class="s2">=&quot;true&quot;</span>
            <span class="s1">android:layout_marginRight</span><span class="s2">=&quot;10dp&quot;</span><span class="s0">&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/rupee&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;₹ &quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;15sp&quot;</span>
                <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#8BC34A&quot;</span><span class="s0">&gt;&lt;/TextView&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/balance&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;amount&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;15sp&quot;</span>
                <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#8BC34A&quot;</span><span class="s0">&gt;&lt;/TextView&gt;</span>
            <span class="s0">&lt;TextView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/rupeeslash&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot; /-&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;15sp&quot;</span>
                <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#8BC34A&quot;</span><span class="s0">&gt;&lt;/TextView&gt;</span>
        <span class="s0">&lt;/LinearLayout&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/transaction_status&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_below</span><span class="s2">=&quot;@id/Amount&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Transaction status&quot;</span>
            <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;15sp&quot;</span>
            <span class="s1">android:layout_alignParentRight</span><span class="s2">=&quot;true&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;8dp&quot;</span>
            <span class="s1">android:layout_marginRight</span><span class="s2">=&quot;10dp&quot;</span><span class="s0">&gt;&lt;/TextView&gt;</span>
    <span class="s0">&lt;/RelativeLayout&gt;</span>

<span class="s0">&lt;/androidx.cardview.widget.CardView&gt;</span></pre>
</body>
</html>